.home {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 40px;
    font-size: 1rem;

    input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0.4rem;
        font-size: 1.2rem;
    }

    button {
        width: 100%;
        border-radius: 5px;
        background: var(--dark-color);
        color: #fff;
        font-size: inherit;
        border: none;
    }

    .clearButton {
        color: black;
        background: var(--light-color);
    }
}
