.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 40px;
    height: 60px;
    background-color: var(--primary-color);
    color: #fff;
}

.navBar {
    ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-left: 0;
        li {
            cursor: pointer;
            list-style: none;
            &:hover {
                color: #ccc;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }
    .navBar ul {
        margin-top: 10px;
    }
}