* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

:root {
    --primary-color: #dc3545;
    --dark-color: #333;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --darkreader-neutral-background: #212222;
    --darkreader-neutral-text: #eae3d9;
    --darkreader-selection-background: #165aaa;
    --darkreader-selection-text: #fbf5ec;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}